.heroContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 20px;
  text-align: center;
}

/* Tablets */
@media screen and (max-width: 768px) {
  .heroContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media screen and (max-width: 425px) {
  .heroContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}