
/* MAIN DASHBOARD SECTION */
.dashboardContainer {
    display: grid;
    grid-template-columns: 30% 70%;
    height: 100vh;
}

.quickActionsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: var(--secondary);
    text-align: center;
}

.quickActions {
    width: 100%;
    padding: 16px 0px;
    color: var(--white);
}

.quickActionsContainer a {
    text-decoration: none;
    background-color: var(--secondary-dark);
    width: 100%;
}

.quickActionsContainer a:hover {
    background-color: var(--primary);
    color: var(--secondary-dark);
}

.dashboardInnerContainer {
    height: 100vh;
    overflow: auto;
}


/* MY TASKS DASHBOARD SECTION */
.tableContainer {
    width: 100%;
    overflow: auto;
    height: 100vh;
}

.tableContainer thead {
    background-color: var(--secondary-dark);
}

.tableContainer th {
    color: var(--white);
}

.tableContainer th, .tableContainer td {
    padding: 16px;
    border: 1px solid var(--secondary)
}

.tableContainer tr:nth-child(even) {
    background-color: var(--secondary);
}