.myprofileForm {
    background-color: var(--secondary);
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 24px;
}

.myprofileForm label {
    font-weight: bold;
}

.myprofileForm input {
    padding: 10px;
    border: var(--white);
}


.myprofileForm fieldset {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    border: 2px solid var(--secondary-dark);
}

.submitForm {
    width: 300px;
    margin: 0 auto;
    padding:16px;
    border-radius: 8px;
    border: none;
    background-color: var(--secondary-dark);
    color: var(--white);
    text-align: center;
    text-decoration: none;
}